### Regular Expressions - Part 1

In [2]:
s = "This line has 90.45 a floating point number"

In [3]:
p = r"\d+\.\d*"

In [4]:
import re

In [9]:
m = re.search(p, s)

In [10]:
s[14:19]

'90.45'

In [11]:
m.span() # Where

(14, 19)

In [12]:
m.group() # What

'90.45'

In [13]:
p = r"(\d+)\.(\d*)" # creating sub groups

In [14]:
m = re.search(p, s)

In [15]:
m.group()

'90.45'

In [16]:
m.groups()

('90', '45')

In [20]:
p = r"(?P<integer>\d+)\.(?P<floating>\d*)" # creating sub groups

In [21]:
m = re.search(p, s)

In [22]:
m.group()

'90.45'

In [23]:
m.groups()

('90', '45')

In [24]:
m.groupdict()

{'integer': '90', 'floating': '45'}

In [26]:
m = re.finditer(p, s)

In [27]:
m

In [28]:
list(m)

In [31]:
s = "This line has 90.45 a floating 1.345 point  -45.67 number"
re.findall(p, s)

[('90', '45'), ('1', '345'), ('45', '67')]

In [32]:
m = re.finditer(p, s)

In [33]:
list(m)

[<re.Match object; span=(14, 19), match='90.45'>,
 <re.Match object; span=(31, 36), match='1.345'>,
 <re.Match object; span=(45, 50), match='45.67'>]

### Regular Expressions - Part 2

In [35]:
import re
data = ['ab', 'abc', 'a5e', 'a6f', '123 a6c', 'a5b', 'a55b', 'a555b', 'a5555b',
        'a55555b', 'a555555b', 'a5xb', '1/4', '3+2=5', 'def ghi', 'abc ab']
for item in data:
	m = re.search(r'a.c', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
a6c matched in '123 a6c'
abc matched in 'abc ab'

In [36]:
for item in data:
	m = re.search(r'a.c', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
a6c matched in '123 a6c'
abc matched in 'abc ab'

In [37]:
for item in data:
	m = re.search(r'a[abc]c', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
abc matched in 'abc ab'

In [38]:
for item in data:
	m = re.search(r'a[^abc]c', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a6c matched in '123 a6c'

In [41]:
print('This is McDonald\'s Berger')

This is McDonald's Berger

In [42]:
for item in data:
	m = re.search(r'3+2', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

In [43]:
for item in data:
	m = re.search(r'3\+2', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

3+2 matched in '3+2=5'

In [44]:
for item in data:
	m = re.search(r'a.c|1.3', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
123 matched in '123 a6c'
abc matched in 'abc ab'

In [45]:
for item in data:
	m = re.search(r'a\dc', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a6c matched in '123 a6c'

In [48]:
for item in data:
	m = re.search(r'a\w\D', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
a5e matched in 'a5e'
a6f matched in 'a6f'
a6c matched in '123 a6c'
a5b matched in 'a5b'
a5x matched in 'a5xb'
abc matched in 'abc ab'

In [47]:
for item in data:
	m = re.search(r'...\s.', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

123 a matched in '123 a6c'
def g matched in 'def ghi'
abc a matched in 'abc ab'

In [49]:
for item in data:
	m = re.search(r'a6', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a6 matched in 'a6f'
a6 matched in '123 a6c'

In [50]:
for item in data:
	m = re.search(r'^a6', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a6 matched in 'a6f'

In [51]:
for item in data:
	m = re.search(r'..c', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
a6c matched in '123 a6c'
abc matched in 'abc ab'

In [54]:
for item in data:
	m = re.search(r'..c$', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

abc matched in 'abc'
a6c matched in '123 a6c'

In [55]:
for item in data:
	m = re.search(r'ab\b', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

ab matched in 'ab'
ab matched in 'abc ab'

In [56]:
for item in data:
	m = re.search(r'ab\B', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

ab matched in 'abc'
ab matched in 'abc ab'

In [57]:
for item in data:
	m = re.search(r'a5555*', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a555 matched in 'a555b'
a5555 matched in 'a5555b'
a55555 matched in 'a55555b'
a555555 matched in 'a555555b'

In [58]:
for item in data:
	m = re.search(r'a5555+', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5555 matched in 'a5555b'
a55555 matched in 'a55555b'
a555555 matched in 'a555555b'

In [59]:
for item in data:
	m = re.search(r'a5555?', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a555 matched in 'a555b'
a5555 matched in 'a5555b'
a5555 matched in 'a55555b'
a5555 matched in 'a555555b'

In [60]:
for item in data:
	m = re.search(r'a555{3}', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a55555 matched in 'a55555b'
a55555 matched in 'a555555b'

In [61]:
for item in data:
	m = re.search(r'a55{3,5}', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5555 matched in 'a5555b'
a55555 matched in 'a55555b'
a555555 matched in 'a555555b'

In [62]:
for item in data:
	m = re.search(r'a55{3,}', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5555 matched in 'a5555b'
a55555 matched in 'a55555b'
a555555 matched in 'a555555b'

In [63]:
for item in data:
	m = re.search(r'a55{,5}', item)
	if m:
		print (m.group() + ' matched in ' + '\'' + item + '\'')

a5 matched in 'a5e'
a5 matched in 'a5b'
a55 matched in 'a55b'
a555 matched in 'a555b'
a5555 matched in 'a5555b'
a55555 matched in 'a55555b'
a555555 matched in 'a555555b'
a5 matched in 'a5xb'